body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    background-color: #A02422;
    color: white;
    text-align: center;
    padding: 60px 20px 40px;
    font-size: 60px;
    font-weight: bold;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 150px;
    width: auto;
}

.title {
    position: relative;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750px;
}

.welcome-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.option-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.3s;
}

.option-box:hover {
    background: #ddd;
    transform: scale(1.05);
}

.option-box img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}
